apiVersion: v1
kind: Service
metadata:
  name: logstash
  labels:
    app: logstash
    app.kubernetes.io/component: logstash
    app.kubernetes.io/instance: logstash
    app.kubernetes.io/name: logstash
    app.kubernetes.io/part-of: LOGGING_SUBSYSTEM
spec:
  ports:
  - name: http-5044
    port: 5044
    targetPort: 5044
  - name: https-9600
    port: 9600
    targetPort: 9600
  - name: https-12201
    port: 12201
    targetPort: 12201
  selector:
    app: logstash