apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: elasticsearch
    app.kubernetes.io/component: elasticsearch
    app.kubernetes.io/instance: elasticsearch
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/part-of: LOGGING_SUBSYSTEM
    app.openshift.io/runtime: elastic
  name: elasticsearch
spec:
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.2
        imagePullPolicy: IfNotPresent
        name: elasticsearch
        ports:
        - containerPort: 9200
          protocol: TCP
        - containerPort: 9300
          protocol: TCP
        envFrom:
          - configMapRef:
             name: elasticsearch-configmap
        securityContext:
          capabilities:
            add: ["SYS_CHROOT"]
        resources: {}
