kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  labels:
    app: elasticsearch
    app.kubernetes.io/component: elasticsearch
    app.kubernetes.io/instance: elasticsearch
spec:
  ports:
  - name: 9200-tcp
    port: 9200
    targetPort: 9200
  - name: 9300-tcp
    port: 9300
    targetPort: 9300
  selector:
    app: elasticsearch
  type: ClusterIP
  sessionAffinity: None